{{#if heading}}

<div class="diy__main__section">

  <div class="diy__main__link">
    <a href="#">
      <img src={{image}} alt="image: {{heading}}" width={{width}} height={{height}} class="img__responsive">
    </a>
  </div>

  <div class="diy__main--content">

    <div class="diy__social">
      <div class="diy__comments" title="Количество комментариев">
        <i class="fa fa-comments"></i>
        <a href="#disqus_thread" class="diy__comments--count">{{comments_counter}}</a>
      </div>
      <span class="date">{{date}}</span>
    </div>

    <h3 class="diy__main--title">
      <a class="diy__main--title__link" href="#">
        {{heading}}
      </a>
    </h3>
  </div>
</div>

{{else}}
<p>Heading of this article is lost</p>
{{/if}}